* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 320px;
  height: auto;
  /* background: rgb(102, 102, 107); */
  /* color: #fff; */
  top: 45%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  box-shadow: 5px 5px 9px 9px rgb(60, 238, 75);
  border-radius: 10px;
  padding: 20px;
  padding-bottom:30px ;
}

 h1{
    text-align: center;
    font-size: 30px;
}

hr {
    width: 50px;
    height: auto;
    position: absolute;
    left: 43%;
    margin-top: 10px;
    margin-bottom: 10px;
    color:linear-gradient(to right, rgb(17, 180, 118), rgb(103, 223, 103)) rgb(140, 243, 140);
}

.icons {
    margin-left: 30%;
    margin-top: 20px;
    /* position: absolute;
    left: 43%; */
}
/*  */

i{
    font-size: 15px;
    color: black;
    background-color: white; 
    border-radius: 50%;
    padding: .8em;
    box-shadow: 3px 3px 3px rgb(215, 226, 226);
    transform: translateY(4px);
}

p{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}
form input {
    margin-bottom: 20px;
    padding: 8px 8px 8px 8px;
}
input[type= "text"]{
    width: 100%;
    margin-bottom: 20px;
    padding: 8px 8px 8px 8px;
    border-radius: 20px;
    background:  rgb(84, 121, 96);
    border: none;
}

input[type= "password"]{
    width: 100%;
    margin-bottom: 20px;
    /* padding: 8px 8px 8px 8px; */
    border-radius: 20px;
    background:  rgb(84, 121, 96);
    border: none;
}

.f-password{
margin-bottom: 10px;
}

input[type="submit"]{
    border: none;
    outline: none;
    height: 38px;
    background: linear-gradient(to right, rgb(7, 87, 56), rgb(138, 221, 138));
    color: #fff;
    font-size: 20px;
    border-radius: 120px;
    width: 100%;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px rgb(174, 184, 187);
    padding: 8px;
    
}

.container input[type= "submit"]:hover{
    cursor: pointer;
    background: rgb(108, 248, 108);
    color: black;
    cursor: pointer;
}

.container input[type= "submit"]:active{
    transform: translateY(4px);
}

.space {
    /* margin-top: 1px; */
    float: right;
}

#result {
    font-family: cursive;
    font-style: italic;
    color: green;
    font-size: small;
}

@media  screen and (max-width:568px) {
    .container {
        width: 280px;
        height: auto;
        /* background: rgb(102, 102, 107); */
        /* color: #fff; */
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        box-shadow: 5px 5px 9px 9px rgb(224, 233, 241);
        border-radius: 10px;
        padding: 20px;
        padding-bottom:30px ;
      }

    #f-pass {
        font-size: small;
    }
}










